body {
  background-color: #fcbf49;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phraseGeneratorContainer {
  border: 5px solid black;
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.phraseCard {
  border: 1px solid black;
}
